<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mon attestation</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style type="text/CSS">
       .imprime {
            display: none;
        }
        @media print {
            .no-imprime {
                display: none;
             }
                .imprime  {
                    display: block;
                }
        }

    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" >Mon Attestattion</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">


        </ul>
        <span class="navbar-text">
      {{ username }}
    </span>

        <span class="navbar-text">
      <a href="/chat"><span class="glyphicon glyphicon-log-out"></span></a>
    </span>

    </div>
</nav>
<!--<h3> Bienvenue dans la salle de chat numéro : {{ room }}</h3>-->

<br><br><br><br><br><br><br><br><br>
<div class="container no-imprime">
    <div class="col">
        <center>
            <form class="form-inline justify-content-center">
                <div class="form-group mx-sm-3 mb-2">

                    <select  class="form-control" onchange="test(this)">
                        <option selected>Pro & études</option>
                        <option>Achât</option>
                        <option>Santé</option>
                        <option>Famille</option>
                        <option>Accompagnement handicap</option>
                        <option>Deplacement bref</option>
                        <option>Administration</option>
                        <option>Mission d'intérêt général</option>
                        <option>Enfant & école</option>

                    </select>
                </div>

                <button class="btn btn-primary mb-2" onclick={window.print()}>Generer</button>
            </form>


        </center>
    </div>
</div>
<center class="dispaly4 imprime">
    ATTESTATION DE DEPLACEMENT DEROGATOIRE
</center>
<center class="dispaly5 imprime">
    En application du décret n°2020-1310 du 29 octobre 2020 prescrivant les mesures générales
    nécessaires pour faire face à l'épidémie de Covid19 dans le cadre de l'état d'urgence sanitaire
</center>
<center class="display5 imprime"> Je soussigné(e),</center>
<center class="display5 imprime"> {{ username }} {{ prenom }}</center>
<center class="display5 imprime"> née le : {{ datena }} à : {{ ville }} et demeurant au: {{ adress1 }} {{ adress2 }} {{ postale }}</center>
<center class="display5 imprime"> certifie que mon déplacement est lié au motif suivant (cocher la case) autorisé par le décret

    n°2020-1310 du 29 octobre 2020 prescrivant les mesures générales nécessaires pour faire face à

    l'épidémie de Covid19 dans le cadre de l'état d'urgence sanitaire 1 :
</center><br><br><br>
<center class="imprime"><br><br><br>
    <div class="custom-control custom-checkbox ">
        <input type="checkbox" class="custom-control-input" id="Check0">
        <label class="custom-control-label" for="Check1">Déplacements entre le domicile et le lieu d’exercice de
            l’activité professionnelle ou un établissement d’enseignement ou de formation, déplacements professionnels
            ne pouvant être différés [2] , déplacements pour un concours ou un examen.

        </label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="Check1">
        <label class="custom-control-label" for="Check2">Déplacements pour effectuer des achats de fournitures
            nécessaires à l'activité professionnelle, des achats de première nécessité [3] dans des établissements dont
            les activités demeurent autorisées, le retrait de commande et les livraisons à domicile ;
            </label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="Check2">
        <label class="custom-control-label" for="Check2">
            Consultations, examens et soins ne pouvant être assurés à distance et l’achat de médicaments ;</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="Check3">
        <label class="custom-control-label" for="Check3">Déplacements pour motif familial impérieux, pour l'assistance
            aux personnes vulnérables et précaires ou la garde d'enfants ;
        </label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="Check4">
        <label class="custom-control-label" for="Check4">Déplacement des personnes en situation de handicap et leur
            accompagnant</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="Check5">
        <label class="custom-control-label" for="Check5">Déplacements brefs, dans la limite d'une heure quotidienne et
            dans un rayon maximal d'un kilomètre autour du domicile, liés soit à l'activité physique individuelle des
            personnes, à l'exclusion de toute pratique sportive collective et de toute proximité avec d'autres
            personnes, soit à la promenade avec les seules personnes regroupées dans un même domicile, soit aux besoins
            des animaux de compagnie ;
        </label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="Check6">
        <label class="custom-control-label" for="Check6">Convocation judiciaire ou administrative et pour se rendre dans
            un service public</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="Check7">
        <label class="custom-control-label" for="Check7">Participation à des missions d'intérêt général sur demande de
            l'autorité administrative</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="Check8">
        <label class="custom-control-label" for="Check8">Déplacement pour chercher les enfants à l’école et à l’occasion
            de leurs activités périscolaires</label>
    </div>
</center><br><br><br>
<center class="display5 imprime">
    fait à {{ adress1 }}  le
    <span id="temps"></span>
</center>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script>
var actu = new Date();
document.getElementById('temps').innerHTML = actu;
function test(a){
   var x = a.options[a.selectedIndex].label;
   if (x == "Santé") {
   document.getElementById('Check2').checked = true;
   }
   else if (x == "Pro & études"){
        document.getElementById('Check0').checked = true;
        window.print();
   }
    else if (x == "Achât"){
        document.getElementById('Check1').checked = true;
        window.print();
   }
   else if (x == "Famille"){
        document.getElementById('Check3').checked = true;
        window.print();
   }
   else if (x == "Accompagnement handicap"){
        document.getElementById('Check4').checked = true;
        window.print();
   }
   else if (x == "Deplacement bref"){
        document.getElementById('Check5').checked = true;
        window.print();
   }
   else if (x == "Administration"){
        document.getElementById('Check6').checked = true;
        window.print();
   }
    else if (x == "Mission d'intérêt général"){
        document.getElementById('Check7').checked = true;
        window.print();
   }
     else if (x == "Enfant & école"){
        document.getElementById('Check8').checked = true;
        window.print();
   }



   }

</script>

</html>